<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <title>@@title</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  @@if (pass_name === "kt"){<link rel="stylesheet" href="../../assets/css/kt_pass.css">}
  @@if (pass_name === "kt_renew"){<link rel="stylesheet" href="../../assets/css/kt_pass_renew.css">}
  @@if (device_type === "ios"){<link rel="stylesheet" href="../../assets/css/ios.css">} <!-- default : android && device_type : ios --> 
  <script src="../../assets/js/swiper-bundle.min.js"></script>
  <script src="../../assets/js/datepicker.min.js"></script>
  <script src="../../assets/js/ui.js"></script>
</head>